/* color palette*/
:root{
    --boot-primary: rgba(71, 173, 241, 1);
    --boot-secondary: rgba(176, 201, 38, 1);
    --boot-accent:  rgba(242, 158, 51, 1);
    --boot-lighter: rgba(216, 99, 160, 1);
    --boot-light: rgba(246, 248, 249, 1);
    --boot-dark:  rgba(156, 114, 228, 1);
}

body{
    background-color: var(--boot-light);
    margin: 0;
}

/* site_header */

.logo{
    background-color: white;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
    
.logo_text{
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.logo_1{
    vertical-align: middle;
}

/* site_main */

#container{
    margin-top: 50px;
    padding-left: 170px;
    margin-right: 170px;
}

.selection_box{
    background-color: white;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 10px;
    border-top-left-radius:  5px;
    border-top-right-radius:  5px;
}

.task{
    background-color: var(--boot-primary);
    color: white;
    border-radius: 5px;
    border: solid 1px var(--boot-primary);
    padding: 8px;
    font-size: 0.7rem;

}

.section{
    background-color: white;
    color: gray;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 8px;
    font-size: 0.7rem;
}